

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>流水明细</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/layuiadmin/style/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">ID</label>
                    <div class="layui-input-block">
                        <input type="text" name="id" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="LAY-user-front-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="layui-card-body">
            <table id="LAY-balance-change" lay-filter="LAY-balance-change"></table>
            <script type="text/html" id="changeTpl">
                {{#  if(d.change <= 0){ }}
                <strong style="color: red;">{{d.change}}</strong>
                {{#  } else { }}
                <strong style="color: green;">{{d.change}}</strong>
                {{#  } }}
            </script>
        </div>
    </div>
</div>

<script src="/static/layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '/static/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'balance', 'table', 'util'], function(){
        var $ = layui.$
            ,form = layui.form
            ,util = layui.util
            ,table = layui.table;

        table.render({
            elem: '#LAY-balance-change'
            ,url: '/admin/balance/changelist/uid/{$uid}'
            ,cols: [[
                {field: 'id', width: 80, title: 'ID', sort: true}
                ,{field: 'change', title: '变动', templet: '#changeTpl'}
                ,{field: 'update_time', title:'更新时间', minWidth: 80, align: 'center', templet:function(e){return util.toDateString(e.update_time*1000)}}
            ]]
            ,page: true
            ,limit: 5
            ,limits: [5, 10, 15, 20, 25, 30]
            ,text: {none: '暂无数据', error: '对不起，加载出现异常！'}
        });
        //监听搜索
        form.on('submit(LAY-user-front-search)', function(data){
            var field = data.field;

            //执行重载
            table.reload('LAY-balance-change', {
                where: field
            });
        });

    });
</script>
</body>
</html>
