{extend name="default/base" /}
{block name="content"}
<form method="post" action="{:url('index/good/order')}">
    <div class="container">
        <div class="input-group">
            <div class="col-sm-2">
                <span class="glyphicon glyphicon-user checkout-icon"></span>
            </div>
            <div class="address-list col-sm-10" id="address-list">
                {if sizeof($address) > 0}
                <p class="name-info">{$address[0]['name']} <span class="contact-info">{$address[0]['contact']}</span></p>
                <p class="address-info">{$address[0]['province']} {$address[0]['city']} {$address[0]['district']} {$address[0]['street']} {$address[0]['code']}</p>
                <input class="btn btn-sm btn-default" data-toggle="modal" data-target="#changeAddress" value="更换地址" type="button">
                {else}
                <p class="address-info">暂无地址（请在个人中心添加地址）</p>
                {/if}
            </div>
            <div class="modal fade" id="changeAddress" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">地址列表</h4>
                        </div>
                        <div class="modal-body">
                            {foreach $address as $k => $v}
                            <div class="radio">
                                <label><input type="radio" name="a[add_id]" value="{$v.id}" {if ($k == 0)}checked{/if}>{$v.name} ，{$v.province} {$v.city} {$v.district} {$v.street} {$v.code}</label>
                            </div>
                            {/foreach}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="change_add();">确定</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="input-group">
            <div class="col-sm-3">
                <span class="glyphicon glyphicon-yen checkout-icon"></span>
            </div>
            <div class="col-sm-9">
                <div class="radio">
                    <label>
                        <input name="a[pay]" type="radio" value="1" checked>
                        余额支付：{:sprintf('%.2f', cache('balance:'.session('user_id')/100))}
                    </label>
                </div>
                <p>
                    <a class="btn btn-sm btn-primary" target="_blank" href="{:url('index/balance/charge')}">充值</a>
                </p>
            </div>
        </div>
        <hr>
        <div class="input-group">
            <div class="col-sm-3">
                <span class="glyphicon glyphicon-road checkout-icon"></span>
            </div>
            <div class="col-sm-9">
                <select class="form-control" name="a[ship]">
                    <option value="">请选择配送</option>
                    {foreach $ships as $v}
                    <option value="{$v.id}">{$v.name} ￥{$v.price}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <hr>
        <div class="container">
            {foreach $goods as $v}
            <div class="row cart-list">
                <div class="col-md-2 col-sm-2 col-xs-5">
                        <img class="thumbnail" src="{$v.good.img_url|default='/static/img/null.png'}" alt="{$v.good.title}" width="120px">

                </div>
                <div class="col-md-8 col-sm-8 col-xs-6">
                    <h4>{$v.good.title}</h4>
                    <h5>分类：{$v.name}</h5>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6">
                    <h4>￥{$v.price}</h4>
                    <p>x {$v.num}</p>
                </div>
            </div>
            {/foreach}

        </div>
        <hr>
        <input name="a[cat]" value="{$data.cat}" hidden readonly>
        <input name="a[num]" value="{$data.num}" hidden readonly>
        <h4 class="text-right text-danger">小计 ￥{:sprintf('%.2f',$total)}</h4>
        <input value="提交订单" class="btn btn-info pull-right" type="submit">
    </div>

</form>
{/block}
{block name="extendjs"}
<script>
    if($('input[name="a[add_id]"]')[0])$('input[name="a[add_id]"]')[0].click();

    function change_add() {
        var id = $('input[name="a[add_id]"]:checked').val();

        $.ajax({
            url: "{:url('index/user/address')}",
            data: {'id': id},
            type: 'post',
            success: function (data) {
                $('#address-list').html(data);


            }
        })



    }
</script>
{/block}