{extend name="default/base" /}
{block name="content"}
<div class="main-info">
    <div class="container">
        <div class="col-sm-4">
            <br>
            <img class="img-responsive" src="/static/img/null.png" alt="{$good.title}">
        </div>
        <div class="col-sm-8">
            <h5>{$good.title}</h5>
            <p class="subtitle red">{$good.subtitle}</p>
            <form action="{:url('index/good/checkout')}" method="post" id="shop" class="form-inline">
                <table class="table table-striped describe">
                    <tr>
                        <td width="80">价格</td>
                        <td id="price"><span class="red">¥ {$price}</span> 起</td>
                    </tr>
                    <tr>
                        <td width="80">数量</td>
                        <td>
                            <div class="input-group">
                                <input class="form-control" data-toggle="tooltip" data-trigger="manual" data-placement="top" title="库存不足" id="num" name="num" value="1" type="number" min="1">
                            </div>
                            <span id="sku"></span>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">分类</td>
                        <td id="cat" data-toggle="tooltip" data-trigger="manual" data-placement="left" title="选择分类">
                            <div class="btn-group" data-toggle="buttons">
                                {foreach $cat as $k}
                                <label class="cat-list btn btn-default">
                                    <input type="radio" name="cat" autocomplete="off" value="{$k.cat_id}" onclick="setPrice({$k.price},{$k.sku});">{$k.cat_name}
                                </label>
                                {/foreach}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">累计评价</td>
                        <td>
                            <a href="#comment">
                                <span class="red">{$comment_total}</span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button type="button" onclick="check()" class="btn btn-info">立即购买</button>
                            <button id="add" type="button" class="btn btn-default" onclick="addCart();" data-toggle="tooltip" data-trigger="manual" data-placement="top" title="已加入购物车">加入购物车</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

    </div>
</div>

<div class="sub-info">
    <div class="container">
        <h4>详细描述</h4>
        <hr>
        <p>{$good.description}</p>
        <br>
    </div>
</div>

<div class="comment">
    <div class="container">
        <h4>评价</h4>
        <hr>
        <div id="comment">
            {if isset($comments)}
            <table class="table table-striped">
                {foreach $comments as $v}
                <tr>
                    <th>#{$v.comment_id}</th>
                    <th>评分：</th>
                    <th>{$v.rate}</th>
                </tr>
                <tr>
                    <th></th>
                    <th>评价：</th>
                    <td>{$v.comment_content}</td>
                </tr>
                {/foreach}
            </table>
            {if isset($page)}
            {$page|raw}
            {/if}
            {else}
            <p>暂无评价</p>
            {/if}
        </div>

    </div>
</div>

{/block}
{block name="extendjs"}
<script>

    $("#comment").on('click', ".pagination li a",function(){
        var pageObj = this;
        var url = pageObj.href;
        $.ajax({
            type:'get',
            url:url,
            success:function(res){
                $("#comment").html(res);

            },


        });
        return false;
    });

    $('label').on('click', function () {
        var a = this.firstElementChild;
        a.click();
    });

    function setPrice(a, b){
        $('#price').html('<span class="red">¥ '+ a +'</span>');
        $('#sku').html('库存 '+ b +' 件');
    }

    function check() {
        if(isNaN($("input:radio[name='cat']:checked").val())){

            $('#cat').tooltip('toggle');
            setTimeout( function () {
                $('#cat').tooltip('hide');
            }, 1500);
        }
        else
            $('#shop').submit();

    }

    function addCart(){
        var cat = $("input:radio[name='cat']:checked").val();
        var num = $("input[name='num']").val();


        $.ajax({
            type: 'post',
            url: "{:url('index/user/addCart')}",
            data: {'cat': cat, 'num': num},
            success: function (xhr) {
                if(xhr.status == 0) {
                    $('#add').tooltip('toggle');
                    setTimeout( function () {
                        $('#add').tooltip('hide');
                    }, 1500);
                }
                else if(xhr.status == -2) {
                    $('#num').tooltip('toggle');
                    setTimeout( function () {
                        $('#num').tooltip('hide');
                    }, 1500);
                }
                else if(xhr.status == -3) {
                    $('#cat').tooltip('toggle');
                    setTimeout( function () {
                        $('#cat').tooltip('hide');
                    }, 1500);
                }else {
                    window.location = "{:url('index/login/login')}?r={:urlencode(request()->url(true))}";
                }
            },
        })

    }
</script>
{/block}