/**
 * Created by IntelliJ IDEA.
 * User: LittleJake
 * Date: 2019/2/21
 * Time: 23:36
 */
 
footer
{
	padding: 20px 30px;
	background: lightgrey;
}

.good-list,
.shop-list
{
	display: block;
	padding: 10px 30px;
	border-bottom: solid 1px;
}