/**
 * Created by IntelliJ IDEA.
 * User: LittleJake
 * Date: 2019/2/21
 * Time: 23:36
 */
 
footer
{
	padding: 20px 30px;
	background: lightgrey;
}

.good-list,
.shop-list
{
	margin: 0 auto;
	display: block;
	padding: 20px 20px;
	border-bottom: solid 1px #0001;
}

.cart-list
{
	padding: 10px 10px;
}

.detail
{
	top: 0;
	padding: 10px 20px;
	display: inline-block;
}



.describe tbody th,
.cat-list
{
	font-size: 10px !important;
}

.red
{
	color: red;
}

#num
{
	width: 70%;
}
