/**
 * Created by IntelliJ IDEA.
 * User: LittleJake
 * Date: 2019/2/21
 * Time: 23:36
 */
 
footer
{
	padding: 20px 30px;
	background: lightgrey;
}

.content
{
	min-height: calc(100vh - 160px);
}

.good-list,
.shop-list,
.order-good
{
	margin: 0 auto;
	display: block;
	padding: 20px 20px;
}
.good-list,
.shop-list
{
	border-bottom: solid 1px #0001;
}

.cart-list
{
	padding: 10px 10px;
}

.detail
{
	top: 0;
	padding: 10px 0;
	display: inline-block;
}

.detail > a
{
	font-size: larger;
}
.detail > p
{
    padding: 10px 0;
}



.describe tbody th,
.cat-list
{
	font-size: 12px !important;
}

.red
{
	color: red;
}

#num
{
	width: 40%;
}

.address-info
{
	font-size: 15px;
}
.name-info
{
	font-size: 17px;
}

.contact-info
{
	font-size: 13px;
	color: #555;
}

.checkout-icon
{
	font-size: 40px;
}

.login-extend {
	margin: 10% auto;
}
.footer-icon{
	margin: 1rem auto;
}

.footer-icon-1,
.footer-icon-2,
.footer-icon-3,
.footer-icon-4{
	float: left;
	background: url('/static/img/foot-icon.png') no-repeat;
	width: 65px;
    height: 65px;
	padding-left: 15px;
	padding-top: 20px;
}

.footer-icon-4{
	background-position: 0px -216px;
}

.footer-icon-2{
	background-position: 0px -69px;
}

.footer-icon-3{
	background-position: 0px -140px;
}

.iconbg1 {
	background: url('/static/img/blxx.jpg') no-repeat left top;
}
.iconbg2 {
	background: url('/static/img/wl110.jpg') no-repeat left top;
}
.iconbg3 {
	background: url('/static/img/wzba.png') no-repeat left top;
}
.iconbg4 {
	background: url('/static/img/yjj.jpg') no-repeat left top;
}

.iconbg5 {
	background: url('/static/img/hy_83x30.png') no-repeat left top;
}

.nofollow {
	margin: 0 10px;
	width: 83px;
	height: 30px;
	display: inline-block;
}

.tab-pane {
	overflow: hidden;
}

#good-img > img{
    height: 100%;
}


/* 百度地图api */
#map {
	height: 300px;
}

.anchorBL{
	display:none;
}