{extend name="default/base" /}
{block name="content"}
<div class="container">
	{if sizeof($goods) != 0}
	{foreach $goods as $v}
	<div class="good-list container">
		<a href="{:url('index/good/good', ['id' => $v.good_id])}">
			<div class="col-md-2">
				<img src="/static/img/null.png" alt="{$v.title}" width="120px">
			</div>
		</a>

		<div class="detail col-md-8">
			<a href="{:url('index/good/good', ['id' => $v.good_id])}">
				{$v.title}
			</a>
			<p>{$v.subtitle}</p>
		</div>

		<div class="col-md-2">

			<h4>${$v.p}</h4>
			<p>+ 邮费</p>
		</div>


	</div>
	{/foreach}
	<br>
	{$goods->render()|raw}
	{else}
	<h3>暂时没有商品</h3>
	{/if}
</div>
{/block}