

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>页面添加</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/layuiadmin/style/admin.css" media="all">
</head>
<body>

<div class="layui-form" lay-filter="layuiadmin-form-page" id="layuiadmin-form-page" style="padding: 20px 30px 0 0;">

    <div class="layui-form-item">
        <label class="layui-form-label">路由别名</label>
        <div class="layui-input-block">
            <input name="g[route]" lay-verify="required" placeholder="请输入路由别名" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">标题</label>
        <div class="layui-input-block">
            <input name="g[title]" lay-verify="required" placeholder="请输入标题" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">页面内容</label>
        <div class="layui-input-block">
            <textarea name="g[content]" id="content"><p>输入内容</p></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">是否展示</label>
        <div class="layui-input-inline">
            <input type="radio" lay-verify="required"  name="g[status]" title="展示" value="1" checked>
            <input type="radio" lay-verify="required" name="g[status]" title="不展示" value="0">
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <label class="layui-form-label"></label>
        <div class="layui-input-inline">
            <input type="button" lay-submit lay-filter="layuiadmin-app-list-submit" id="layuiadmin-app-list-submit" onclick="getData();" value="确认" class="layui-btn">
        </div>
    </div>
</div>

<script src="/static/layuiadmin/layui/layui.js"></script>
<script src="/static/ckeditor/ckeditor.js"></script>
<script>
    CKEDITOR.config.uploadUrl = '{:url("admin/index/upload")}';
    CKEDITOR.config.filebrowserUploadUrl= '{:url("admin/index/upload")}';
    CKEDITOR.replace( 'content' );

    layui.config({
        base: '/static/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form', 'upload'], function(){
        var $ = layui.$
            ,form = layui.form;


    });

    function getData(){
        document.getElementById('content').innerHTML = CKEDITOR.instances.content.getData();
    }
</script>
</body>
</html>