{extend name="default/base" /}
{block name="extendcss"}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" media="all">
{/block}
{block name="content"}
<div class="container content">
    <div class="row">
        <a href="javascript:window.history.back()"><i class="glyphicon glyphicon-chevron-left"></i> 文章列表</a>
    </div>
    <h3>{$data.title}</h3>
    <p>更新时间：{:date($data.update_time)}</p>
    <p>发布者：{$data.admin_account.username}</p>
    <hr>
    {$data.content|raw}
</div>
<div class="comment">
    <div class="container">
        <h4><i class="glyphicon glyphicon-pencil"></i> 评论</h4>
        <hr>
        {if !$is_login}
        <p><a href="{:url('index/login/login', ['r'=>urlencode(request()->url(true))])}">登录</a></p>
        {else}
        <p>{:session('user')}，<a href="{:url('index/login/logout',[ 'r'=>urlencode(request()->url(true))])}">这不是您？</a></p>
        {/if}
        <form method="POST">
            <div class="form-group">
                <textarea style="resize: none" class="form-control" placeholder="留下你的评论" rows="3" name="comment" maxlength="100"></textarea>
            </div>
            <ul class="list-inline">
                <li>
                    <input placeholder="验证码" name="captcha" class="form-control" type="text" maxlength="4">
                </li>
                <li>
                    <img onclick="getCaptcha()" src="{:captcha_src()}" alt="captcha" id="captcha">
                </li>
            </ul>
            <div class="form-group">
                <input type="submit" value="提交" class="btn btn-info">
            </div>
        </form>
        <hr>
        <div id="comment">
            {if sizeof($comment) != 0}
            {foreach $comment as $k => $v}
            <div class="row comment">
                <div class="col-xs-11 col-md-11">
                    <h4>{$v.account.username}</h4>
                    <p style="color:#888">{$v.update_time|date='Y年m月d日 H:i:s'}</p>
                    <strong>{$v.content}</strong>
                </div>
            </div>
            {/foreach}
            {if isset($page)}
            {$page|raw}
            {/if}
            {else}
            <h4>暂无评论</h4>
            {/if}
        </div>
    </div>
</div>
{/block}
{block name="extendjs"}
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script>
    function getCaptcha(){
        document.getElementById('captcha').src = '{:captcha_src()}';
    }

    $("#comment").on('click', ".pagination li a",function(){
        var pageObj = this;
        var url = pageObj.href;
        $.ajax({
            type:'get',
            url:url,
            success:function(res){
                $("#comment").html(res);
            },
        });
        return false;
    });
    $(".content").find('img').each(function(i,elem){
        $(elem).addClass('img-responsive');
        $(elem).wrap('<a data-fancybox="gallery" href="'+$(elem).attr('src') +'"></a>');
    });
</script>
{/block}