{extend name="default/base" /}
{block name="content"}
<div class="container content">
    <div class="col-md-3 col-xs-12">
        <div class="list-group" id="help-list" role="tablist">
            <a href="#q1" role="tab" class="list-group-item active" data-toggle="tab">简介</a>
            <a href="#q2" role="tab" class="list-group-item" data-toggle="tab">订单类问题</a>
            <a href="#q3" role="tab" class="list-group-item" data-toggle="tab">配送类问题</a>
            <a href="#q4" role="tab" class="list-group-item" data-toggle="tab">优惠活动问题</a>
            <a href="#q5" role="tab" class="list-group-item" data-toggle="tab">账户类问题</a>
            <a href="#q6" role="tab" class="list-group-item" data-toggle="tab">发票类问题</a>
            <a href="#q7" role="tab" class="list-group-item" data-toggle="tab">支付与退款类问题</a>
            <a href="#q8" role="tab" class="list-group-item" data-toggle="tab">售后类问题</a>
            <a href="#q9" role="tab" class="list-group-item" data-toggle="tab">药品类问题</a>
        </div>
    </div>
    <div class="col-md-9 col-xs-12">
        <div class="tab-content panel panel-default">
            <div role="tabpanel" class="tab-pane panel-body active" id="q1">
                <p>“{$option['sitename']}”是一个互联网医疗信息展示平台，致力于为消费者提供一站式医疗，药品订购，安全健康的送货上门等服务。 “{$option['sitename']}”结合了许多著名的制药公司和主要的连锁终端资源，使用最快时效的快递服务将药品交付给家庭，从而为消费者提供安全有效的、及时的医疗服务，创建造福人民的项目。</p>
                <p>未来，“{$option['sitename']}”还将优化药店的人性化服务，以及优化操作的便捷性，提高消费者购药的效率。</p>
            </div>
            <div role="tabpanel" class="tab-pane panel-body" id="q2">
                <p>Q: 订单已经提交成功，能否修改？</p>
                <p>A: 您好！订单发货前您可以联系客服进行修改，发货后订单将无法修改，建议您取消订单重新订购。</p>
                <p>Q: 我怎么知道我的订单的实际的状态？</p>
                <p>A: 您好！您可以通过我的订单页面查询订单实时状态。</p>
                <p>Q: 怎么判断订单是否为快速送达？</p>
                <p>A: 您好！点开药品页面，如药品下方红字显示“快速送达”或“28分钟送达”等字样是当日送达的药品，订单生成后由您所在地址附近合作药店帮您提供药品并派送。</p>
            </div>
            <div role="tabpanel" class="tab-pane panel-body" id="q3">
                <p>Q: 配送费如何收取？</p>
                <p>A:您好！商城目前已经开通了北京、上海、广州、深圳、成都、杭州、天津、南京、武汉、济南、郑州等城市的，每个城市的配送收费标准可登录商城APP查看。</p>
                <p>Q: 都支持什么配送方式？</p>
                <p>A: 您好！目前支持立即配送、2小时送达、预约配送三种配送方式，如您不着急用，可选择2小时送达或预约配送服务。</p>
                <p>Q: 送货需要多长时间？</p>
                <p>A: 您好！立即配送方式为自您下单成功后，服务范围内核心区域28分钟为您送货上门；预约配送会在您预约的时间段内送货上门；2小时送达，是在您下单成功后2小时送货上门。</p>
                <p>Q: 我的订单很长时间都没有送到什么办？</p>
                <p>A: 您好！您可以在“订单状态”页关注配送小哥的坐标轨迹，确认配送小哥的位置。如您的订单状态为”配送中“，您也可以联系配送小哥了解具体情况（短信和我的订单中均有体现）。</p>
                <p>Q: 联系不到配送小哥什么办？</p>
                <p>A: 您好！配送小哥在送货途中可能没有接听到您的电话，您可在”订单状态“页关注配送小哥的坐标轨迹，确认配送小哥的位置。</p>
                <p>Q: 配送小哥的坐标轨迹不动怎么办？</p>
                <p>A: 您好！配送小哥在送货途中手机信号可能不好，请您稍后再进行查看，或者电话联系配送小哥了解配送进度。</p>
            </div>
            <div role="tabpanel" class="tab-pane panel-body" id="q4">
                <p>Q: 怎么查看药品是否有优惠活动？</p>
                <p>A: 您好！点开药品页面，如药品下方红字显示“满xx减xx”字样的，购买药品金额满足条件后可以参加当前满减活动。点开药品页面，如药品下方红字显示“折”字样的，药品页会显示具体折扣力度，添加购物车去结算的时候会自动显示折扣后金额。</p>
                <p>Q: 我达到了满减的金额，为什么没有享受满减？</p>
                <p>A: 您好！正常的满减活动仅限专场内参加的，且带有“折”字药品是不参加的。</p>
                <p>Q: 购买药品时赠送的优惠券什么时候能收到？</p>
                <p>A: 您好！订单完成后优惠券会自动派发优惠券到您的账户中，请您注意查收！</p>
                <p>Q: 订单取消成功后优惠券如何返回？</p>
                <p>A: 您好！订单取消成功后优惠券会自动返还到您的账户中，您可以随时查询您的优惠券。</p>
            </div>
            <div role="tabpanel" class="tab-pane panel-body" id="q5">
                <p>Q: 收不到验证码怎么办？</p>
                <p>A: 您好！可能由于网络或者供应商原因导致您暂时无法接到验证码，建议您重新尝试获取，或者尝试更换下单手机号或设备。</p>
                <p>Q: 忘记登陆密码怎么办？</p>
                <p>A: 您好！您可以在移动端登录界面，选择“快速登录”，使用手机号码通过验证后登录，或者点击“忘记密码”，经过验证重新设置您的登陆密码。</p>
            </div>
            <div role="tabpanel" class="tab-pane panel-body" id="q6">
                <p>Q: 如何获得发票？</p>
                <p>A: 您好！您可以携带药店票据到所属配送的实体药店开具发票。</p>
                <p>Q: 发票可以开什么抬头类型和内容？（发票抬头、内容）</p>
                <p>A: 您好！发票<span>抬头</span>可以开具个人或者单位<span>（不可开药品生产企业、药品经营企业、医疗机构等相关行业）；</span> 发票内容可以开具药品明细。</p>
            </div>
            <div role="tabpanel" class="tab-pane panel-body" id="q7">
                <p>Q: 目前都支持哪些支付方式？</p>
                <p>A: 您好！目前支持余额支付、货到付款两种支付方式。</p>
                <p>Q: 在线支付订单申请退款后，多长时间可以收到退款？</p>
                <p>A: 您好！如果您购买的药品出现问题，您可以联系工作人员，工作人员会根据订单实际情况，为您办理退款事宜。</p>
                <p>Q: 申请退款后，如何查看退款后的订单状态？</p>
                <p>A: 您好！查询退款后订单状态，请您联系工作人员了解详情。</p>
            </div>
            <div role="tabpanel" class="tab-pane panel-body" id="q8">
                <p>Q: 我的药品是否可以退换货？</p>
                <p>A: 您好！药品一经售出无质量问题不可办理退换货。如有质量问题请您联系工作人员并提供带有批次号的药品的照片，工作人员会帮您处理。</p>
                <p>Q：我的药品还没有收到呢，怎么显示已妥投？</p>
                <p>A：您好！非常抱歉，您可以电话联系配送小哥了解具体情况，或者联系工作人员，客服人员帮您处理。</p>
                <p>Q：我的药品送错了怎么办？</p>
                <p>A：您好！请您联系工作人员，并提供带有批次号的送错药品的照片，工作人员会帮您处理。</p>
                <p>Q：我的药品少发了怎么办？</p>
                <p>A：您好！请您通过联系工作人员，并提供缺少的药品订单照片，工作人员会帮您处理。</p>
            </div>
            <div role="tabpanel" class="tab-pane panel-body" id="q9">
                <p>Q: 你们的药是正品吗？</p>
                <p>A: 您好！请您放心，我们平台展示的药品均是实体药店为您配送，进货渠道正规，保证正品，您可以通过下面3点鉴定真伪：1、到国家药监局网站查询药品批文； 2、致电厂家核实； 3、到当地药检所复检。如质疑药品真伪，需提供相关凭证证明。</p>
                <p>Q: 为什么收到的药品与图片显示的包装不一样？</p>
                <p>A: 您好！由于药品包装替换，会出现新老包装随机发货的情况，但是请您放心，药品均是正品。</p>
                <p>Q: 为什么上次购买的价格与现在的不一样？</p>
                <p>A: 您好！我们平台展示的药品均是由合作的平价药店配送，但是药品价格会受促销活动、药品进价调整等因素影响，所以药品价格会有小范围波动。</p>
                <p>Q: 药品什么时间到货？</p>
                <p>A: 您好！药店的药品库存是药店进行维护的，药店进货后，库存会实时更新的。</p>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="extendjs"}
<script>
    $('#help-list a').click(function (e) {
        e.preventDefault();
        $('#help-list a').removeClass('active');
        $(this).tab('show');
        $(this).addClass('active');
    })
</script>
{/block}