{extend name="default/base" /}
{block name="content"}
<div class="container content">
    <div class="col-md-3 col-xs-12">
        <div class="list-group" id="help-list" role="tablist">
            <a href="#q1" role="tab" class="list-group-item active" data-toggle="tab">简介</a>
            <a href="#q2" role="tab" class="list-group-item" data-toggle="tab">订单类问题</a>
            <a href="#q3" role="tab" class="list-group-item" data-toggle="tab">配送类问题</a>
            <a href="#q5" role="tab" class="list-group-item" data-toggle="tab">账户类问题</a>
            <a href="#q6" role="tab" class="list-group-item" data-toggle="tab">发票类问题</a>
            <a href="#q7" role="tab" class="list-group-item" data-toggle="tab">支付与退款类问题</a>
            <a href="#q8" role="tab" class="list-group-item" data-toggle="tab">售后类问题</a>
            <a href="#q9" role="tab" class="list-group-item" data-toggle="tab">药品类问题</a>
        </div>
    </div>
    <div class="col-md-9 col-xs-12">
        <div class="tab-content panel panel-default">
            <div role="tabpanel" class="tab-pane panel-body active" id="q1">
                <p>&emsp;&emsp;“{$option['sitename']}”（下称“平台”）是由{$option['orgname']}运营的互联网药店平台，致力于为消费者提供一站式医疗，药品订购，安全健康的送货上门等服务。 平台结合了许多著名的制药公司和主要的连锁终端资源，使用最快时效的快递服务将药品交付给家庭，从而为消费者提供安全有效的、及时的医疗服务，创建造福人民的项目。</p>
                <p>&emsp;&emsp;未来，平台还将优化药店平台的人性化服务，包括优化操作的便捷性，提高消费者购药的效率。</p>
            </div>
            <div role="tabpanel" class="tab-pane panel-body" id="q2">
                <p><strong>Q: 订单已经提交成功，能否修改？</strong></p>
                <p>A: 您好！订单发货前您可以自助进行修改，发货后订单将无法修改，建议您联系客服处理。</p>
                <p><strong>Q: 我怎么知道我的订单的实际的状态？</strong></p>
                <p>A: 您好！您可以通过我的订单页面查询订单实时状态。</p>
            </div>
            <div role="tabpanel" class="tab-pane panel-body" id="q3">
                <p><strong>Q: 配送费如何收取？</strong></p>
                <p>A: 您好！配送收费标准可在商品结算前根据选择的快递进行查看。</p>
                <p><strong>Q: 都支持什么配送方式？</strong></p>
                <p>A: 您好！目前支持货到付款、现结快递的方式。</p>
                <p><strong>Q: 送货需要多长时间？</strong></p>
                <p>A: 您好！自您下单成功后，配送将根据不同配送物流进行时效管控，还请耐心等待。</p>
                <p><strong>Q: 我的订单很长时间都没有送到什么办？</strong></p>
                <p>A: 您好！您可以在订单页面查询单号联系客服。您也可以联系配送小哥了解具体情况。</p>
            </div>
            <div role="tabpanel" class="tab-pane panel-body" id="q5">
                <p><strong>Q: 忘记登陆密码怎么办？</strong></p>
                <p>A: 您好！您可以在登录界面，选择“Github登录”，或者点击“忘记密码”，经过验证重新设置您的登陆密码。</p>
            </div>
            <div role="tabpanel" class="tab-pane panel-body" id="q6">
                <p><strong>Q: 如何获得发票？</strong></p>
                <p>A: 您好！您可以携带药店票据到所属配送的实体药店开具发票。</p>
                <p><strong>Q: 发票可以开什么抬头类型和内容？（发票抬头、内容）</strong></p>
                <p>A: 您好！发票抬头可以开具个人或者单位（不可开药品生产企业、药品经营企业、医疗机构等相关行业）； 发票内容可以开具药品明细。</p>
            </div>
            <div role="tabpanel" class="tab-pane panel-body" id="q7">
                <p><strong>Q: 目前都支持哪些支付方式？</strong></p>
                <p>A: 您好！目前支持余额支付、货到付款两种支付方式。</p>
                <p><strong>Q: 在线支付订单申请退款后，多长时间可以收到退款？</strong></p>
                <p>A: 您好！如果您购买的药品出现问题，您可以联系工作人员，工作人员会根据订单实际情况，为您办理退款事宜。</p>
                <p><strong>Q: 申请退款后，如何查看退款后的订单状态？</strong></p>
                <p>A: 您好！查询退款后订单状态，请您联系工作人员了解详情。</p>
            </div>
            <div role="tabpanel" class="tab-pane panel-body" id="q8">
                <p><strong>Q: 我的药品是否可以退换货？</strong></p>
                <p>A: 您好！药品一经售出无质量问题不可办理退换货。如有质量问题请您联系工作人员并提供带有批次号的药品的照片，工作人员会帮您处理。</p>
                <p><strong>Q：我的药品还没有收到呢，怎么显示已妥投？</strong></p>
                <p>A：您好！非常抱歉，您可以电话联系配送小哥了解具体情况，或者联系工作人员，客服人员帮您处理。</p>
                <p><strong>Q：我的药品送错了怎么办？</strong></p>
                <p>A：您好！请您联系工作人员，并提供带有批次号的送错药品的照片，工作人员会帮您处理。</p>
                <p><strong>Q：我的药品少发了怎么办？</strong></p>
                <p>A：您好！请您通过联系工作人员，并提供缺少的药品订单照片，工作人员会帮您处理。</p>
            </div>
            <div role="tabpanel" class="tab-pane panel-body" id="q9">
                <p><strong>Q: 你们的药是正品吗？</strong></p>
                <p>A: 您好！请您放心，我们平台展示的药品均是实体药店为您配送，进货渠道正规，保证正品，您可以通过下面3点鉴定真伪：1、到国家药监局网站查询药品批文； 2、致电厂家核实； 3、到当地药检所复检。如质疑药品真伪，需提供相关凭证证明。</p>
                <p><strong>Q: 为什么收到的药品与图片显示的包装不一样？</strong></p>
                <p>A: 您好！由于药品包装替换，会出现新老包装随机发货的情况，但是请您放心，药品均是正品。</p>
                <p><strong>Q: 为什么上次购买的价格与现在的不一样？</strong></p>
                <p>A: 您好！我们平台展示的药品均是由合作的平价药店配送，但是药品价格会受促销活动、药品进价调整等因素影响，所以药品价格会有小范围波动。</p>
                <p><strong>Q: 药品什么时间到货？</strong></p>
                <p>A: 您好！药店的药品库存是药店进行维护的，药店进货后，库存会实时更新的。</p>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="extendjs"}
<script>
    $('#help-list a').click(function (e) {
        e.preventDefault();
        $('#help-list a').removeClass('active');
        $(this).tab('show');
        $(this).addClass('active');
    })
</script>
{/block}