{extend name="default/base" /}
{block name="content"}
<div class="container content">
    <div class="col-md-6">
        <h4>平台查询结果</h4>
        <hr>
            <div class="form-group">
                <label class="control-label">溯源码</label>

                    <input id="code" class="form-control" type="text" maxlength="20" placeholder="请输入溯源码">

            </div>
            <a class="btn btn-default" onclick="check()">查询</a>
        <hr>
        <h4>查询结果：</h4>
        <div id="result"></div>
    </div>
    <div class="col-md-6">
        <h4>官方查询渠道</h4>
        <hr>
        <div class="row text-center">
            <div class="col-md-6 col-xs-6">
                <h3>扫码查询</h3>
                <p>支持<a href="
https://www.mashangfangxin.com/public/images/shoutaocode.png">手机淘宝</a>、<a href="https://www.mashangfangxin.com/public/images/jkcode.png">阿里健康</a></p>
                <p>支持<a href="https://www.mashangfangxin.com/public/images/tianmaocode.png">手机天猫</a>、<a href="https://img.alicdn.com/tfs/TB1m_dDSFXXXXaeXXXXXXXXXXXX-300-300.png">码上稽查</a></p>
            </div>
            <div class="col-md-6 col-xs-6">
                <h3>短信查询</h3>
                <p>通过手机短信</p>
                <p>发送追溯码至<span class="text-danger">106695001111</span></p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-6 col-xs-6 ">
                <h3>电话查询</h3>
                <p>拨打<span class="text-danger">010-95001111</span></p>
                <p>根据语音导航提示输入追溯码</p>
            </div>
            <div class="col-md-6 col-xs-6">
                <h3>码上溯源</h3>
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJQAAACUAQMAAABP8pKXAAAABlBMVEUAAAD///+l2Z/dAAABLUlEQVRIx62TwW0AMRAC6YD+u6QDsuPLI3+CbGsZn7RordPJauMorfETc3urwsfUI5PtSD1w59mdkVY08j+xg1HosbPWqf0anNqJIf8RfmI9JTx57Rg3MVE3lvOGIGtiXxtgDjpRJubTUTrJVTyy3lERFoDVxOLqxQ69jnpjZ5qkLylgZM5tlLxTycSklzYmOKCaGBt7nDbwid1+x8H8uolZYfFUzq1qYojA5dbETyaGYZ55dzszea1b5+pkZV/gxqFZ5Y2lfU/Nk+MyMkKfxCW10MD6+yMDOd2NvYRJFX89konZV6Skvl1uJtZD6i1S841GdpJfZMLWnhhysLTxKRtzy0ydK94EOjL568Gb45uZqc37B4PRzhjl8Q9mYz1PSWKnGtnpWCtmewVkYD8U2KnpoIKfEAAAAABJRU5ErkJggg==" class="img-thumbnail">
            </div>
        </div>
    </div>
</div>
{/block}
{block name="extendjs"}
<script>
    function check() {
        $.ajax({
            url: "{:url('index/about/track')}",
            data: {track_no: $('#code').val()},
            method: 'POST',
            success: function(res){
                $('#result').html(res);
            }
        });
        return;
    }
</script>
{/block}