

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>订单列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/layuiadmin/style/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <table id="LAY-app-good-list" lay-filter="LAY-app-good-list"></table>
            <script type="text/html" id="review">
                {{#  if(d.good.is_prescription == 1 && d.prescription == 'true') { }}
                <a class="layui-btn layui-btn-info layui-btn-xs" ><i class="layui-icon layui-icon-ok"></i>审核通过</a>
                {{#  } else if(d.good.is_prescription == 1 && d.prescription == 'false') { }}
                <a class="layui-btn layui-btn-danger layui-btn-xs" ><i class="layui-icon layui-icon-close"></i>审核不通过</a>
                {{# } else if(d.good.is_prescription == 1) { }}
                <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="review"><i class="layui-icon layui-icon-search"></i>审核</a>
                {{# } else if(d.good.is_prescription == 0) { }}
                <a class="layui-btn layui-btn-info layui-btn-xs" ><i class="layui-icon layui-icon-ok"></i>无需审核</a>
                {{#  } }}
            </script>
        </div>
    </div>
</div>

<script src="/static/layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '/static/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table'], function(){
        var $ = layui.$
            ,table = layui.table
            ,form = layui.form;


        table.render({
            elem: '#LAY-app-good-list'
            ,url: '/admin/order/ordergoodlist?id={:input("id")}'
            ,cols: [[
                {field: 'name', title: '商品名', minWidth: 100}
                ,{field: 'price', title: '价格', templet: function(d){return "￥"+d.price}}
                ,{field: 'num', title: '数量'}
                ,{field: 'review', title: '审核', templet:'#review'}
            ]]
            ,page: true
            ,limit: 10
            ,limits: [10, 15, 20, 25, 30]
            ,text: {none: '暂无数据', error: '对不起，加载出现异常！'}
        });

        table.on('tool(LAY-app-good-list)', function(obj) {
            var data = obj.data;
            if (obj.event === 'review') {
                layer.open({
                    type: 2
                    , title: '审核'
                    , content: '/admin/order/review.html?id=' + data.id
                    , maxmin: true
                    , area: ['500px', '400px']
                    , btn: ['审核通过', '审核失败']
                    , yes:function(index, layero) {
                        //提交 Ajax 成功后，静态更新表格中的数据
                        $.ajax({
                            type:'post',
                            url:'/admin/order/review.html',
                            data: {
                                id: data.id,
                                status: 'true'
                            },
                            success:function (res) {
                                if (res.code == 1) {
                                    table.reload('LAY-app-good-list'); //数据刷新
                                    layer.close(index); //关闭弹层
                                }
                                layer.msg(res.msg, {icon: res.code == 1 ? 1: 2,time: 1500});
                            }
                        });
                    }
                    , btn2:function(index, layero){
                        //提交 Ajax 成功后，静态更新表格中的数据
                        $.ajax({
                            type:'post',
                            url:'/admin/order/review.html',
                            data: {
                                id: data.id,
                                status: 'false'
                            },
                            success:function (res) {
                                if (res.code == 1) {
                                    table.reload('LAY-app-good-list'); //数据刷新
                                    layer.close(index); //关闭弹层
                                }
                                layer.msg(res.msg, {icon: res.code == 1 ? 1: 2,time: 1500});
                            }
                        });
                    }
                });
            }
        });
        $('.layui-btn.layuiadmin-btn-list').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });
</script>
</body>
</html>
