{include file="default/header"}
<div class="container" id="cart">
    <h4>购物车</h4>
    <hr>
    {foreach $goods as $v}
    <div class="cart-list">
        <input type="checkbox" name="cat-id" value="{$v.cat_id}">
        <a href="{:url('index/good', ['id' => $v.good_id])}">
            <img src="/static/img/null.png" alt="{$v.title}" width="70px">
        </a>

        <div class="detail">
            <a href="{:url('index/good', ['id' => $v.good_id])}">{$v.title}</a>
            <p>{$v.cat_name}</p>
        </div>


        <div class="input-group pull-right">
            <p>${$v.price}</p>
            <input type="number" class="input-sm form-control" name="cat-num" value="{$v.num}" min="1" style="width: 70px">
            <input type="button" class="btn btn-sm btn-default" onclick="del({$v.cat_id});" value="删除">
        </div>


    </div>
    {/foreach}
    <form action="{:url('index/checkout')}" method="post" id="shop">
        <input name="cat" hidden>
        <input name="num" hidden>
        <input value="提交订单" class="btn btn-info" style="position: fixed; bottom: 10px; right: 10px;" onclick="check();" type="button">
    </form>
</div>
{include file="default/footer"}
<script>
    function del(cat_id) {
        var pageObj = this;
        var url = pageObj.href;
        $.ajax({
            type:'post',
            url:url,
            data: {'del': cat_id},
            success:function(res){
                $("#cart").html(res);

            },


        });
        return false;
    }

    function check(){
        var cat = new Array();
        var num = new Array();
        $('input[name=cat-id]:checked').each(function() {
            cat.push($(this).val());
            num.push($(this).siblings('.pull-right').children('input[name=cat-num]').val());

        });


        var cat = cat.join(',');
        var num = num.join(',');

        $('input[name=cat]').val(cat);
        $('input[name=num]').val(num);

        if(cat != '' && num != '')
            $('#shop').submit();
    }


</script>
