{include file="default/header"}
<div class="container">
	<div class="col-lg-6">
		<div class="container">
			<h3>登录</h3>
			<hr>
			<form method="post" action="{:url('user/login')}">
				<div class="input-group">
					<span class="input-group-addon" id="addon1">电子邮箱</span>
					<input class="form-control" placeholder="电子邮箱" name="email" type="email" aria-describedby="addon1" required>
				</div>
				<br>
				<div class="input-group">
					<span class="input-group-addon" id="addon2">密码</span>
					<input class="form-control" placeholder="密码" name="pass" type="password" aria-describedby="addon2" required>
				</div>
				<hr>
				<button class="btn btn-default" type="submit">登录</button>
			</form>
		</div>
	</div>
</div>
{include file="default/footer"}