{include file="default/header"}
<div class="container">
	{if isset($orders)}
		<h4>第{$page.cur}页</h4>
		<hr>
		
		{foreach $orders as $k}
			{if !empty($goods[$k.order_id])}
				<span>订单号：{$k.order_id}</span>

				<span class="pull-right">
					{if $k.status < 10}
					<a class="btn btn-info" href="{:url('index/user/comment', ['id' => $k.order_id])}">评价</a>
					{/if}
					状态：
					{$k.status}
				</span>
				{foreach $goods[$k.order_id] as $v}
					<div class="good-list">
						<p>{$v.title} —— {$v.cat_name}</p>
						<p>数量：{$v.num}</p>
						<p>${$v.price * $v.num}</p>
					</div>
				{/foreach}

				<br>
			{/if}
		{/foreach}
		<br>
		{if $page.cur > $page.min}
			<a class="pull-left" href="{:url('index/user/order', ['page' => $page.cur-1])}">← 上一页</a>
		{/if}
		{if $page.cur < $page.max}
			<a class="pull-right" href="{:url('index/user/order', ['page' => $page.cur+1])}">下一页 →</a>
		{/if}
	{else}
		<h4>暂无订单</h4>
	{/if}
</div>
{include file="default/footer"}