{include file="default/header"}
<div class="container">
	{if isset($orders)}
		<h4>第{$page.cur}页</h4>
		<hr>
		
		{foreach $orders as $k}
			<span>订单号：{$k.order_id}</span>
			<span class="pull-right">
				状态：
				<a></a>
			</span>
			{foreach $goods[$k.order_id] as $v}
				<div class="good-list">
					<h4>{$v.title} —— {$v.cat_name}</h4>
					<h4>数量：{$v.num}</h4>
					
					<div class="pull-right">
						<h4>${$v.p * $v.num}</h4>
					</div>
				</div>
			{/foreach}
			
		{/foreach}
		<br>
		{if $page.cur > $page.min}
			<a class="pull-left" href="{:url('index/index', ['page' => $page.cur-1])}">← 上一页</a>
		{/if}
		{if $page.cur < $page.max}
			<a class="pull-right" href="{:url('index/index', ['page' => $page.cur+1])}">下一页 →</a>
		{/if}
	{else}
		<h4>暂无订单</h4>
	{/if}
</div>
{include file="default/footer"}