<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{$page_title}—E-Shop</title>
    {include file="default/css" /}
    {block name="extendcss"}
    {/block}
</head>
<body>
{include file="default/nav" /}
{block name="content"}
{/block}

<br>
<footer>
    <div class="container">
        {include file="default/footer-icon"}
        {include file="default/footer-copyright"}
    </div>
</footer>
{include file="default/js" /}
{block name="extendjs"}
{/block}
<script>
    function checkSearch(){
        if($('#search-box').val() == ''){
            $('#search-box').tooltip('toggle');
            setTimeout( function () {
                $('#search-box').tooltip('hide');
            }, 1500);
            return false;
        }
        return true;
    }
</script>
</body>
</html>