<div class="footer-icon container">
    <div class="col-md-2 col-xs-6 footer-icon-1">
        <div class="pull-right">
            <strong>国家认证 正品保障</strong>
            <p>合法网上商店</p>
        </div>
    </div>
    <div class="col-md-2 col-md-offset-1 col-xs-6 footer-icon-2">
        <div class="pull-right">
            <strong>购物无忧 隐私配送</strong>
            <p>放心的隐私包装</p>
        </div>
    </div>
    <div class="col-md-2 col-md-offset-1 col-xs-6 footer-icon-3">
        <div class="pull-right">

            <strong>配送范围 极速配送</strong>
            <p>多地区覆盖配送</p>
        </div>
    </div>
    <div class="col-md-2 col-md-offset-1 col-xs-6 footer-icon-4">
        <div class="pull-right">
            <strong>专业药师 全程指导</strong>
            <p>售后服务客户为本</p>
        </div>
    </div>
</div>