<div class="col-md-12 text-center">
    <p class="hidden-xs">
        <a href="http://www.nmpa.gov.cn/WS04/CL2043/" target="_blank">国家食品药品监督管理总局</a>
        <a href="http://www.nhc.gov.cn/" target="_blank">国家卫生部 </a>
        <a href="http://ypk.familydoctor.com.cn/" target="_blank">药品查询</a>
        <a href="http://www.wushang.com" target="_blank">武商网</a>
        <a href="http://www.chinamsr.com/" target="_blank">医药联盟</a>
        <a href="http://www.yy960.com/" target="_blank">医药招商</a>
        <a href="http://www.800pharm.com/" target="_blank">网上药店</a>
        <a href="http://www.315jiage.cn" target="_blank">药品价格315网</a>
        <a href="http://www.3156.cn/" target="_blank">3156医药网</a>
        <a href="http://jbk.99.com.cn" target="_blank">疾病大全</a>
        <a href="http://www.998pz.cn/" target="_blank">陪诊</a>
        <a href="http://www.jinxiang.com/" target="_blank">金象网</a>
        <a href="http://www.51qe.cn/" target="_blank">大众医药网</a>
        <a href="http://www.ehaoyao.us/" target="_blank">好药师海外购</a>
        <a href="http://www.jk.cn" target="_blank">平安好医生</a>
        <a href="http://www.ziyimall.com/" target="_blank">保健品商城</a>
        <a href="http://www.chemdrug.com/" target="_blank">药品资讯网</a>
        <a href="http://www.hongmao1739.com/" target="_blank">鸿茅药酒</a>
        <a href="http://www.viptijian.com/" target="_blank">中康体检网</a>
        <a href="http://yao.xywy.com/" target="_blank">寻医问药网</a>
    </p>
    <p><a href="{:url('index/about/index')}" target="_blank">关于我们</a>|
        <a target="_blank" href="mailto:admin@qq.com">联系我们</a>|
        <a target="_blank" href="{:url('index/about/cert')}">经营证书</a>|
        <a target="_blank" href="http://www.kuaidi100.com/">快递查询</a></p>
    <p>互联网药品交易服务资格证书编号:<a rel="nofollow" target="_blank" href="{:url('index/about/index')}">0000000001</a> | 互联网药品信息服务资格证书:<a rel="nofollow" target="_blank" href="http://www.beian.miit.gov.cn/">000000001</a></p>
    <p>Copyright @ 版权所有 </p>
    <p style="margin: 15px 0;">
        <a href="http://net.china.com.cn/" target="_blank" class="nofollow iconbg1"></a>
        <a href="http://www.cyberpolice.cn/wfjb/" target="_blank" class="nofollow iconbg2"></a>
        <a href="http://www.beian.miit.gov.cn" target="_blank" class="nofollow iconbg3"></a>
        <a href="http://www.nmpa.gov.cn/WS04/CL2043/" target="_blank" class="nofollow iconbg4"></a>
        <a href="https://v.pinpaibao.com.cn/authenticate/cert/?site=127.0.0.2&at=business" class="nofollow iconbg5" target="_blank"></a>
    </p>
</div>