<div class="col-md-12 text-center">
    <p class="hidden-xs">
        <a href="http://www.nmpa.gov.cn/WS04/CL2043/" target="_blank">国家食品药品监督管理总局</a>
        <a href="http://www.nhc.gov.cn/" target="_blank">中华人民共和国国家卫生健康委员会</a>
        <a href="http://ypk.familydoctor.com.cn/" target="_blank">药品查询</a>
    </p>
    <p><a href="{:url('index/about/index')}" target="_blank">关于我们</a>|
        <a data-toggle="collapse" href="#contact" aria-expanded="false" aria-controls="contact">联系我们</a>|
        <a target="_blank" href="{:url('index/about/cert')}">经营证书</a>|
        <a target="_blank" href="http://www.kuaidi100.com/">快递查询</a></p>
    <div class="collapse" id="contact">
        <div class="well">
            <p>微信号：{$option['wechat']}</p>
            <p>QQ号：{$option['qq']}</p>
            <p>咨询电话：{$option['phone']}</p>
        </div>
    </div>
    <p>互联网药品交易服务资格证书编号:<a rel="nofollow" target="_blank" href="{:url('index/about/index')}">{$option['ecert1']}</a> | 互联网药品信息服务资格证书:<a rel="nofollow" target="_blank" href="http://www.beian.miit.gov.cn/">{$option['ecert2']}</a></p>
    <p>{$option['copyright']}</p>
    <p style="margin: 15px 0;">
        <a href="http://net.china.com.cn/" target="_blank" class="nofollow iconbg1"></a>
        <a href="http://www.cyberpolice.cn/wfjb/" target="_blank" class="nofollow iconbg2"></a>
        <a href="http://www.beian.miit.gov.cn" target="_blank" class="nofollow iconbg3"></a>
        <a href="http://www.nmpa.gov.cn/WS04/CL2043/" target="_blank" class="nofollow iconbg4"></a>
        <a href="https://v.pinpaibao.com.cn/authenticate/cert/?site=127.0.0.2&at=business" class="nofollow iconbg5" target="_blank"></a>
    </p>
</div>