<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{:url('/')}">{$option['sitename']}</a>
        </div>
        <ul class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li><a href="{:url('index/category/index')}"><i class="glyphicon glyphicon-th-list"></i> 分类</a></li>
                <li><a href="{:url('index/article/index')}"><i class="glyphicon glyphicon-book"></i> 文章</a></li>
                {foreach $PAGE as $P}
                <li><a href="{:url('index/page/page', ['route' => $P.route])}">{$P.title}</a></li>
                {/foreach}
                <li><a href="{:url('index/about/cert')}"><i class="glyphicon glyphicon-file"></i> 资质</a></li>
                <li><a href="{:url('index/about/index')}"><i class="glyphicon glyphicon-info-sign"></i> 关于我们</a></li>
                <li><a href="{:url('index/about/track')}">药品溯源查询</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {if !$is_login}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-user"></i> 我的 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{:url('index/login/reg')}"><i class="glyphicon glyphicon-send"></i> 注册</a></li>
                        <li><a href="{:url('index/login/login',['r'=>urlencode(request()->url(true))])}"><i class="glyphicon glyphicon-log-in"></i> 登录</a></li>
                    </ul>
                </li>
                {else}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-user"></i> {:session('user')}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{:url('index/user/order')}"><i class="glyphicon glyphicon-list-alt"></i> 订单</a></li>
                        <li><a href="{:url('index/user/address')}"><i class="glyphicon glyphicon-flag"></i> 地址管理</a></li>
                        <li><a href="{:url('index/balance/index')}"><i class="glyphicon glyphicon-yen"></i> 余额 ￥{:sprintf('%.2f', cache('balance:'.session('user_id'))/100)}</a></li>
                        <li><a href="{:url('index/user/changepwd')}"><i class="glyphicon glyphicon-cog"></i> 修改密码</a></li>
                        <li><a href="{:url('user/cart')}"> <i class="glyphicon glyphicon-shopping-cart"></i> 购物车</a></li>
                        <li><a href="{:url('index/login/logout',['r'=>urlencode(request()->url(true))])}"><i class="glyphicon glyphicon-log-out"></i> 退出</a></li>
                    </ul>
                </li>
                {/if}

            </ul>
        </ul>
    </div>
</nav>